.-image {
  width: inherit;
}

.portfolio-container {
  min-height: 100vh;
  color: black;
  text-align: center;
}

.portfolio-container .item-wrap .overlay::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.portfolio-container .item-wrap .overlay::after {
  content: "";
  font-family: georgia, serif;
  font-size: 3rem;
  z-index: 1;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.portfolio-container .item-wrap:hover .overlay::before {
  opacity: 1;
  visibility: visible;
}
.portfolio-container .item-wrap:hover .overlay::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.portfolio-container .item-wrap .item-text-wrap {
  color: white;
  position: absolute;
  top: 25%;
  left: 0%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.7s ease-in-out;
  width: 100%;
}

.portfolio-container .item-wrap:hover .item-text-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
