.skills-container {
  background: linear-gradient(
    to bottom,
    #161616 0%,
    rgba(22, 22, 22, 0.9) 75%,
    rgba(22, 22, 22, 0.8) 100%
  );
  margin-top: 0;
  text-align: center;
  cursor: default;
  color: white;
  min-height: 100vh;
}

.skill-icons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .skill-picture {
    height: 50px;
    width: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .skill-picture {
    height: 60px;
    width: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .skill-picture {
    height: 70px;
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skill-picture {
    height: 80px;
    width: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .skill-picture {
    height: 90px;
    width: auto;
  }
}
