.close {
  position: absolute !important;
  visibility: hidden !important;
}

.gallery-item {
  width: inherit;
  height: auto;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 2000!important;
}
