.close {
    position: absolute!important;
    visibility: hidden!important;
}

.modal-header {
    padding: 0;
}

.masonry-image {
    width: 120px;
    height: auto;
    display: inline;
}

.image-element-class {
    display: inline;
}