@import '../../scss/style.scss';

.footer-wrapper {
  position: relative;
}

.footer-style{
    background-color: #00010c;
  p {
    color: #c6c9d8;
    font-size: 14px;
    opacity: 0.75;
  }
}

.copyright-text {
  position: absolute;
  bottom: -114px;

  @media #{$sm-layout} {
    position: static;
    bottom: 0;
    padding-top: 33px;
  }

  @media #{$md-layout} {
    position: static;
    bottom: 0;
    padding-top: 33px;
  }
  p {
    color: #c6c9d8;
    font-size: 14px;
    opacity: 0.75;
  }
}
