
.banner {
    color: #fff;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: black;
  }
  
  .banner h2 {
    font-size: 1.35em;
    line-height: 1.75em;
    animation: fadein 0.8s;
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
  }
  
  .banner h2:before,
  h2:after {
    animation: expansion 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    background: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
  }
  
  .banner h2:before {
    top: 0;
    left: 0;
  }
  
  .banner h2:after {
    bottom: 0;
    right: 0;
  }
  
  .banner p {
    animation: fadein 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    opacity: 0;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  @keyframes expansion {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  